doctype html
html
  head
    title Riiiad Starter kit
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='assets/img/favicons/favicon.ico', rel='shortcut icon')
    link(href='./assets/css/main.css', rel='stylesheet')
  body
    .page-home
      h1 Riiiad Starter Kit
      .backpack
        img(src='assets/img/backpack.png', alt="developer_backpack")
        <a href="https://github.com/Riiiad/Riiiad-starter-kit">GitHub repo</a>
      section
        article
          p Inspired by the starter pack of Travis Neilson & Brad Traversy
          .name-lockup
            img.avatar(src='https://yt3.ggpht.com/-47U43a3eNW0/AAAAAAAAAAI/AAAAAAAAAAA/fWgb7mKcn6k/s176-c-k-no/photo.jpg')
            .name
              strong Travis Neilson
              br
              a(href='https://twitter.com/DevTipsShow') @DevTips
          .name-lockup
            img.avatar(src='assets/img/TM.jpg')
            .name
              strong Brad Traversy
              br
              a(href='https://www.youtube.com/channel/UC29ju8bIPH5as8OGnQzwJyA') @Traversy Media
      pre Riiiad-Starter-Kit
        | -- assets/
        |   | -- css/
        |   |   | -- 1-tools/
        |   |   |   | -- bourbon/
        |   |   |   | -- fonts.sass
        |   |   |   | -- normalize.sass
        |   |   |   | -- vars.sass
        |   |   | -- 2-basics/
        |   |   |   | -- body-elements.sass
        |   |   |   | -- links.sass
        |   |   |   | -- selection-colors.sass
        |   |   |   | -- typography.sass
        |   |   | -- 3-modules/
        |   |   |   | -- example-module.sass
        |   |   |   | -- example-module.sass
        |   |   | -- 4-pages/
        |   |   |   | -- example-page.sass
        |   |   | -- main.sass
        |   | -- js/
        |   |   | -- main.js
        |   | -- img/
        | -- favicon.ico
        | -- index.html
    script(src='./assets/js/main.js', type='text/javascript')
